<li th:id="'single'+${comment.c_id}">
    <div class="comment-main-level">
        <!-- Avatar -->
        <div class="comment-avatar"><img th:src="@{${comment.c_avatar}}" alt="" /></div>
        <!-- Contenedor del Comentario -->
        <div class="comment-box">
            <div class="comment-head">
                <h6 class="comment-name by-author" th:text="${comment.c_username}" th:if="${comment.c_username}=='hl007'"></h6>
                <h6 class="comment-name" th:text="${comment.c_username}" th:if="${comment.c_username}!='hl007'"></h6>
                <h6 style="font-weight:200" class="comment-name" th:text="${comment.c_time}"></h6>
                <i th:onclick="'javascript:hide_show2('+${comment.c_id}+')'" th:id="'i'+${comment.c_id}" class="fa fa-reply"></i>
            </div>
            <div class="comment-content">
                <my th:text="${comment.c_message}"></my>
            </div>
        </div>
    </div>
    <!-- Respuestas de los comentarios -->
    <ul class="comments-list reply-list">
        <li th:each="reply:${comment.replyList}" th:id="${reply.r_id}">
            <!-- Avatar -->
            <div class="comment-avatar"><img th:src="@{${reply.r_avatar}}" alt=""/></div>
            <!-- Contenedor del Comentario -->
            <div class="comment-box">
                <div class="comment-head">
                    <h6 class="comment-name by-author" th:text="${reply.r_username}" th:if="${reply.r_username}=='hl007'"></h6>
                    <h6 class="comment-name" th:text="${reply.r_username}" th:if="${reply.r_username}!='hl007'"></h6>
                    <h6 style="font-weight:200" class="comment-name" th:text="${reply.r_time}"></h6>
                    <i th:onclick="'javascript:hide_show('+${comment.c_id}+',\''+${reply.r_username}+'\')'" th:id="'reply'+${reply.r_id}" class="fa fa-reply"></i>
                </div>
                <div class="comment-content">
                    <my th:text="${reply.r_message}"></my>
                </div>
            </div>
        </li>
        <!--ajax加载回复-->
        <my th:id="'ajaxReply'+${comment.c_id}"></my>

    </ul>

    <!--回复框-->
    <div class="comment-reply" style="text-align:right">
        <form role="form" th:id="'form'+${comment.c_id}" th:action="@{'/reply/'+${comment.c_id}}" method="post" style="display:none;">
            <div class="form-group">
                <textarea th:id="'textarea'+${comment.c_id}" name="r_message" class="form-control" rows="2" placeholder="your reply" autofocus=""></textarea>
            </div>
            <button type="button" th:onclick="'javascript:reply('+${comment.c_id}+')'" th:id="'submit'+${comment.c_id}" class="[ btn btn-success ]" >Reply</button>
        </form>
    </div>
</li>

